body {
  padding-top: 50px;
}
#main {
  padding: 40px 15px;
}
#main .flash {
  text-align: left;
}
#video {
  -moz-box-shadow: 10px 10px 5px #888;
  -webkit-box-shadow: 10px 10px 5px #888;
  box-shadow: 10px 10px 5px #888;
}
#player {
  border: 1px solid black;
}

.phase-itemlist {
  list-style-type: none;
}

/* Failsafe */
.phase-itemlist li:before {
  content: "\e080"; /* glyphicon-chevron-right */
  float: left;
  font-family: 'Glyphicons Halflings';
  font-size: 1em;
  margin-left: -1em;
  margin-right: .25em;
  vertical-align: middle;
}

/* Video */
.phase-itemlist .phase-item-video:before {
  content: "\e059"; /* glyphicon-facetime-video */
  float: left;
  font-family: 'Glyphicons Halflings';
  font-size: 1em;
  margin-left: -1em;
  margin-right: .25em;
  vertical-align: middle;
}

/* Quiz */
.phase-itemlist .phase-item-quiz:before {
  content: "\270f"; /* glyphicon-pencil */
  float: left;
  font-family: 'Glyphicons Halflings';
  font-size: 1em;
  margin-left: -1em;
  margin-right: .25em;
  vertical-align: middle;
}
