<div class="row">
  <div class="col-xs-6 col-md-6">
    <% if @item_prev %>
      <h5>
        <a href="<%= "/phases/#{@item_prev["phase"]["slug"]}/#{@item_prev["slug"]}" %>">
          <span class="glyphicon glyphicon-step-backward" aria-hidden="true"></span>
          <%=@item_prev["title"]%>
        </a>
      </h5>
    <% end %>
  </div>
  <div class="col-xs-6 col-md-6" style="text-align: right;">
    <% if @item_next %>
      <h5>
        <a href="<%= "/phases/#{@item_next["phase"]["slug"]}/#{@item_next["slug"]}" %>">
          <%=@item_next["title"]%>
          <span class="glyphicon glyphicon-step-forward" aria-hidden="true"></span>
        </a>
      </h5>
    <% end %>
  </div>
</div>
