<h1>Leaderboard</h1>

<div class="row">
  <div class="col-md-12" style="padding-top: 15px;">
    <table class="table">
        <thead>
            <tr>
              <th>#</th>
              <th>Name</th>
              <th>XP</th>
              <th>Level</th>
            </tr>
        </thead>
        <tbody>
           <tr>
             <th scope="row">1</th>
             <td>Joe Bloggs</td>
             <td>57</td>
             <td>2</td>
           </tr>
           <tr class="info">
             <th scope="row">2</th>
             <td>John Smith</td>
             <td>56</td>
             <td>1</td>
           </tr>
           <tr>
             <th scope="row">3</th>
             <td>Jane Doe</td>
             <td>12</td>
             <td>1</td>
           </tr>
           <tr>
             <th scope="row">4</th>
             <td>Christopher Holmes-Jackson</td>
             <td>1</td>
             <td>1</td>
           </tr>
        </tbody>
      </table>
  </div>
</div>

<div class="row">
  <div class="col-md-8" style="padding-top: 15px;">
    <nav>
      <ul class="pagination">
        <li class="disabled">
          <a href="#" aria-label="Previous"><span aria-hidden="true">«</span></a>
        </li>
        <li class="active">
          <a href="#">1 <span class="sr-only">(current)</span></a>
        </li>
        <li>
          <a href="#">2</a>
        </li>
        <li>
          <a href="#">3</a>
        </li>
        <li>
          <a href="#">4</a>
        </li>
        <li>
          <a href="#">5</a>
        </li>
        <li>
          <a href="#" aria-label="Next"><span aria-hidden="true">»</span></a>
        </li>
      </ul>
    </nav>
  </div>
</div>
